.big-box {
    padding: 40px 0 23px;
    background: #F6F6F9;
    border-top: 4px solid #295093;   
}

.header-container {
    display: flex;
    align-items: center;
}
.header-logo {
    @include reset-list;
    padding: 8px 4px;
    background-color: $colorWihte;
    @include fonts(normal, 700, 28px, 33px);
    @include LinkResetList(none, $colorLogo);
    margin-right: 17px;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
}

.headernav-ul {
    @include reset-list;
    display: flex;
}
.headernav-li {
    @include reset-list;
    @include margin-trbl(0, 10px, 0, 0);
}
.header-text {
    cursor: pointer;
    @include reset-list;
    color: #7A7A7A;
    @include fonts(normal, 400, 16px, 19px);
}

.header-text > span {
    @include fonts(normal, 700, 16px, 19px);
    color: #285193;
}
.btnlar {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.img-qidiruv {
    @include WightHeight(40px, 42px);
    cursor: pointer;
    padding: 8px;
    background: $colorWihte;
    border-radius: 5px;
    background-color: $colorWihte;
}
.ru {
    @include WightHeight(64px, 40px);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    margin-left: 20px;
    background: $colorWihte;
    border-radius: 5px;
    background-color: $colorWihte;
}

.ru img {
    @include WightHeight(20px, 20px);
    margin-right: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: $colorWihte;
    border-radius: 5px;
    background-color: $colorWihte;
}
.link-box {
    padding: 10px;
    display: flex;
    text-decoration: none;
    @include fonts (normal, 500, 16px, 19px);
    align-items: center;
    margin-left: 24px;
    background-color: $colorWihte;
    color: $colorWihte;
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
}

.link-box img {
    margin-right: 7px;
}

.btn {
    display: none;
}

@include breakpoint-down(768px) {
    .big-box {
        padding: 20px 0 23px;
        background: #F6F6F9;
        border-top: 4px solid #295093;   
    }
    .header-logo {
        padding: 2px 4px;
        background-color: $colorWihte;
        @include fonts(normal, 700, 18px, 33px);
        @include LinkResetList(none, $colorLogo);
        margin-right: 17px;
        background: $colorWihte;
        box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
        border-radius: 5px;
    }
    .headernav-ul {
        @include reset-list;
        display: flex;
    } 

    .btnlar {
        display: none;
    }

    .btn {
        margin-left: auto;
        display: block;
        height: 18px;
        justify-content: space-between;
        flex-direction: column;
        border: none;
        background-color: transparent;
        display: flex;
    }
    .btn span {
        width: 20px;
        height: 1px;
        display: block;
        border: 1px solid #000;
    }
}
@include breakpoint-down(504px) {
    .big-box {
        padding: 20px 0 23px;
        background: #F6F6F9;
        border-top: 4px solid #295093;   
    }
    .header-logo {
        padding: 1px 2px;
        background-color: $colorWihte;
        @include fonts(normal, 700, 15px, 33px);
        @include LinkResetList(none, $colorLogo);
        margin-right: 17px;
        background: $colorWihte;
        box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
        border-radius: 5px;
    }
    .headernav-ul {
        display: none;
    } 

    .btnlar {
        display: none;
    }

    .btn {
        margin-left: auto;
        display: block;
        height: 18px;
        justify-content: space-between;
        flex-direction: column;
        border: none;
        background-color: transparent;
        display: flex;
    }
    .btn span {
        width: 20px;
        height: 1px;
        display: block;
        border: 1px solid #000;
    }
}