.big-box {
    padding: 40px 0 23px;
    background: #F6F6F9;
    border-top: 4px solid #295093;   
}

.header-container {
    display: flex;
    align-items: center;
}
.header-logo {
    @include reset-list;
    padding: 8px 4px;
    background-color: $colorWihte;
    @include fonts(normal, 700, 28px, 33px);
    @include LinkResetList(none, $colorLogo);
    margin-right: 17px;
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
}

.headernav-ul {
    @include reset-list;
    display: flex;
}
.headernav-li {
    @include reset-list;
    @include margin-trbl(0, 10px, 0, 0);
}
.header-text {
    cursor: pointer;
    @include reset-list;
    color: #7A7A7A;
    @include fonts(normal, 400, 16px, 19px);
}

.header-text > span {
    @include fonts(normal, 700, 16px, 19px);
    color: #285193;
}
.btnlar {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.img-qidiruv {
    @include WightHeight(40px, 42px);
    cursor: pointer;
    padding: 8px;
    background: $colorWihte;
    border-radius: 5px;
    background-color: $colorWihte;
}
.ru {
    @include WightHeight(64px, 40px);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    margin-left: 20px;
    background: $colorWihte;
    border-radius: 5px;
    background-color: $colorWihte;
}

.ru img {
    @include WightHeight(20px, 20px);
    margin-right: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: $colorWihte;
    border-radius: 5px;
    background-color: $colorWihte;
}
.link-box {
    padding: 10px;
    display: flex;
    text-decoration: none;
    @include fonts (normal, 500, 16px, 19px);
    align-items: center;
    margin-left: 24px;
    background-color: $colorWihte;
    color: $colorWihte;
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
}

.link-box img {
    margin-right: 7px;
}

.btn {
    display: none;
}

.navbar {
    display: none;
}

@include breakpoint-down(768px) {
    .big-box {
        padding: 20px 0 23px;
        background: #F6F6F9;
        border-top: 4px solid #295093;   
    }
    .header-logo {
        padding: 2px 4px;
        background-color: $colorWihte;
        @include fonts(normal, 700, 18px, 33px);
        @include LinkResetList(none, $colorLogo);
        margin-right: 17px;
        background: $colorWihte;
        box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
        border-radius: 5px;
    }
    .headernav-ul {
        @include reset-list;
        display: flex;
    } 

    .btnlar {
        display: none;
    }

    .btn {
        margin-left: auto;
        display: block;
        height: 18px;
        justify-content: space-between;
        flex-direction: column;
        border: none;
        background-color: transparent;
        display: flex;
    }
    .btn span {
        width: 20px;
        height: 1px;
        display: block;
        border: 1px solid #000;
    }
}
@include breakpoint-down(504px) {
    .big-box {
        width: 100%;
        padding: 20px 0 23px;
        background: #F6F6F9;
        border-top: 4px solid #295093;
        position: fixed;
    }
    .header-container {
        display: flex;
        align-items: center;
    }
    .header-logo {
        padding: 1px 2px;
        background-color: $colorWihte;
        @include fonts(normal, 700, 15px, 33px);
        @include LinkResetList(none, $colorLogo);
        margin-right: 17px;
        background: $colorWihte;
        box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
        border-radius: 5px;
    }
    .headernav-ul {
        display: none;
    } 

    .btnlar {
        display: none;
    }

    // .btn {
    //     margin-left: auto;
    //     display: block;
    //     height: 18px;
    //     justify-content: space-between;
    //     flex-direction: column;
    //     border: none;
    //     background-color: transparent;
    //     display: flex;
    // }
    // .btn span {
    //     width: 20px;
    //     height: 1px;
    //     display: block;
    //     border: 1px solid #000;
    // }

    .navbar {
        width: 300px;
        height: 100%;
        background-color: #285193;
        position: fixed;
        top: 0;
        right: -300px;
        display: flex;
        justify-content: center;
        align-items: center;
        // border-radius: 20% 0 0 20%;
        padding: 0;
    }
    .change{
        right: 0;
        transition: all 0.3s linear;
    }
    .hamburger-menu {
        width: 35px;
        height: 30px;
        position: fixed;
        top: 30px;
        right: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: none;
        background-color: transparent;
        margin-top: -2px;
    }
    .line {
        width: 90%;
        height: 2px;
        background-color: #000;
        transition: all 0.3s linear;
    }
    .change .line-1 {
        transform: rotateZ(-405deg) translate(-7px, 4px);
        background-color: #eee;
    }
    .change .line-2 {
        opacity: 0;
        background-color: #eee;
    }
    .change .line-3 {
        transform: rotateZ(405deg) translate(-6px, -4px);
        background-color: #eee;
    }
    .nav-list {
        text-align: right;
        margin-top: 50px;
    }
    .nav-item {
        @include reset-list;
        list-style: none;
        margin-bottom: 5px;
    }

    .headernav-btn-ul {
        position: absolute;        
        list-style: none;
        display: flex;
        right: 15px;
        top: 28px;
    }
    .headernav-btn-li {
        margin-right: 10px;
    }
    .header-btn-text {
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        color: #eee;
        position: relative;
        padding: 2px 0; 
    }

    .header-btn-text span {
        color: #37AEE2;
    } 

    .header-btn-text::before, .header-btn-text::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #1E96C8;
        position: absolute;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.3s;
    }

    .header-btn-text::after {
        bottom: 0;
        transform-origin: right;
    }

    .header-btn-text::before {
        top: 0;
        transform-origin: left;
    }

    .header-btn-text:hover::before, .header-btn-text:hover::after {
        transform: scaleX(1);
    }

    .nav-link {
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        color: #eee;
        position: relative;
        padding: 2px 0;
    }

    .nav-link::before, .nav-link::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #1E96C8;
        position: absolute;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.3s;
    }

    .nav-link::after {
        bottom: 0;
        transform-origin: right;
    }

    .nav-link::before {
        top: 0;
        transform-origin: left;
    }

    .nav-link:hover::before, .nav-link:hover::after {
        transform: scaleX(1);
    }
}